{
  "authenticated": true,
  "number_of_failed": 5,
  "server_port": 9000,
  "redis": {
    "host": "127.0.0.1",
    "port": 6379,
    "auth": "",
    "db": 0
  },
  "username": "jian0209",
  "pass_key": "",
  "proxy_url": [
    {
      "id": 1,
      "name": "w",
      "alias": "http://127.0.0.1:8080"
    }
  ]
}